:root {
--yellow-green-crayola: #d9ed92ff;
--yellow-green-crayola-2: #b5e48cff;
--granny-smith-apple: #99d98cff;
--ocean-green: #76c893ff;
--keppel: #52b69aff;
--viridian-green: #34a0a4ff;
--blue-munsell: #168aadff;
--cg-blue: #1a759fff;
--lapis-lazuli: #1e6091ff;
--yale-blue: #184e77ff;
--back-grey:#EBF5FB;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 1.2em;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: var(--back-grey);
  font-family: Arial, sans-serif;
}
header {
  background-color: var(--yale-blue);
  color:var(--yellow-green-crayola-2);
  text-align: center;
  padding: 2em 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1em;
  align-content: center;
  justify-items: center;
}

header img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}
 ul {
   display: flex;
   list-style-type: none;
    }
ul a {
  margin: 0 5px;
}
a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.button-english {
 width: 70px;
 height: 30px;
 background-color:var(--blue-munsell) ;
}
h2{
  text-align: center;
}
main {
  padding: 2em;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto 1fr 1fr;
  grid-gap: 1em;
  text-align: center;
}

.main h1 {
  grid-column: 1 / 3;
  grid-row: 1;
}

.main div {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  grid-gap: 10px;
}

.main div h2, .main div p {
  margin: 0;
}

.courses {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.div-courses {
  display: flex;
  justify-content: center;
}

.div-courses img {
  width: 2.5em;
  height: 2.5em;
  margin: 1em 0.50em;
}

footer {
  background-color: var(--yale-blue);
  color: var(--yellow-green-crayola-2);
  text-align: center;
  padding: 2em 0;
}


footer img {
  font-size: 1.5em;
  width: 2em;
  height: 2em;
  border-radius: 50%;
  padding: 0.5em;
  justify-content: center;
  
}

